body {
    background: linear-gradient(45deg, rgb(23, 173, 76), green);
}

.huvudblock {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#image {
    width: 70%;
}

button {
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 85px;
	height: 85px;
    background: none;
    border-radius: 50px;
    color:white;
    border-color: white;
}