body {
    background: linear-gradient(45deg, rgb(23, 173, 76), green);
}

.huvudblock {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#logo {
    width: 70%;
}

select {
    font-family: 'Montserrat', sans-serif;
    background: none;
    color: white;
    border-color: white;
    border-radius: 2px;
}

option {
    background-color: transparent;
    color: rgb(23, 173, 76);
}


button {
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 85px;
	height: 85px;
    background: none;
    border-radius: 50px;
    color:white;
    border-color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(31, 232, 102);
}