body {
    font-family: 'Rasa', serif;
    color: rgb(70, 65, 65);

}

.huvudblock {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#logoblock {
    background: linear-gradient(45deg, rgb(23, 173, 76), green);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-height: 40px;
}

#pref1txt, #pref2txt, #pref3txt {
    margin: 0px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-top:0px;

}


#namn {
    font-family: 'Montserrat', sans-serif;
    color: #6a859c;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(23, 173, 76);
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}

.nameList {
    font-family: 'Montserrat', sans-serif;
    color: #6a859c;
    font-size: 16px;
}
#stroke {
    height: 2px;
    width: 70px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 60px;
	height: 60px;
    background: none;
    border-radius: 50px;
    color: rgb(23, 173, 76);
    border-color: rgb(23, 173, 76);
    cursor: pointer;
}

button:hover {
    border-color: green;
    color: green;
}



#countbtn {
    margin-right: 40px;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 30px;
	height: 30px;
    background: none;
    border-radius: 50px;
    color: white;
    border-color: white;
    cursor: pointer;
}

#countbtn:hover {
    background-color: rgb(31, 232, 102);
}


#sendbtn, #backbtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 85px;
	height: 85px;
    background: none;
    border-radius: 50px;
    color: rgb(23, 173, 76);
    border-color: rgb(23, 173, 76);
    cursor: pointer;
}

#sendbtn:hover, #backbtn:hover {
    border-color: green;
    color: green;
}

#imgblock {
    padding-top: 20px;
}

#image {
    width: 150px;
    height: 168px;
}

#buttonboarder {
    height: 75px;
    padding: 5px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
}

ul {
    padding-top: 40px;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    color: #6a859c;
}


a{
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: 6a859c;
    font-size: 16px;
}

#alot {
    max-height: 200px;
}

 

