<html>
    <head>
         <title>AcademyMatch</title>
            <meta charset="utf8"/>
            <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
    </head>
    <body>
        <div class = "huvudblock">
            <ul>
                <li>Angelica Nordqvist</li>
                <li>Oskar</li>
                <li>Tomas</li>
            </ul>
            <p id="txt"></p>
            <button id="backbtn" class = "btn">BACK</button>
            <button id="sendbtn" class = "btn">SEND</button>
        </div>
        <script type="text/javascript" src="/script/final.js"/>
    </body>
</html> 