<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">

<head>
    <title>AcademyMatch</title>
    <meta charset="utf8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Rasa" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/stylez.css" media="screen" />
</head>

<body>
    <div class="huvudblock">
        <div id="logoblock">
            <img id="logo" src="/images/academy_logo_w_tag_RGB_Verdana_white.png" />
        </div>

        <a class="nameList" th:each="person : ${chosen}" th:text="${person.name}"  th:href="${person.profilelink}" ></a>

        <p id="txt"></p>
        <div id="stroke"></div>
        <p id="endtxt">Roligt att du hittade några kandidater du vill träffa. Klicka på sänd så skickas ett mail med kandidaterna
            till therese.lindhe@academicwork.se.</p>
        <div class="btn">
            <button id="backbtn" class="btn">BACK</button>
            <button id="sendbtn" class="btn">SEND</button>
        </div>
    </div>
    <script type="text/javascript" src="/script/final.js" />
</body>

</html>