<html>
        <head>
            <title>AcademyMatch</title>
            <meta charset="utf8"/>
            <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
        </head>
        <body>
            <div class = "huvudblock">
                <h2 id = "startrubrik" >VÄLJ DINA FAVVISAR!</h2>
                <button id="startbtn" class = "btn">START</button>
            </div>
            <script type="text/javascript" src="../script/index.js"/>
        </body>
    </html> 