<html>
        <head>
            
            <title>AcademyMatch</title>
            <meta charset="utf8"/>
            <link rel="stylesheet" type="text/css" href="/css/styleintro.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/loading.css" media="screen" />
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Rasa" rel="stylesheet">
        </head>
        <body>
            <div class = "huvudblock">
                      <div class="loading">
            <img src="http://a.top4top.net/p_1990j031.gif" alt="Loading" />
        </div>
                <div id ="imgblock">
                    <img id = "image" src = "C:\Users\Administrator\Documents\Skola\Vecka 9\GitGrupp\AcademyMatch\Logo\academy_logo_w_tag_RGB_Verdana_white.png"/>
                </div>
                <button class = "btn" id = "startbtn">START</button>
            </div>
            <script type="text/javascript" src="../script/intro.js"/>
        </body>
    </html> 
