<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">

<head>
    <title>AcademyMatch</title>
    <meta charset="utf8" />
    <link rel="stylesheet" type="text/css" href="/css/stylez.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Rasa" rel="stylesheet" />
</head>

<body>
    <div class="huvudblock">
        <div id="logoblock">
            <img id="logo" src="/images/academy_logo_w_tag_RGB_Verdana_white_small.png" />
            <button class="btn hamburgler" id="countbtn">
                <span id="chosen" th:text="${nrChosen}">0</span>
            </button>
        </div>
        <div id="imgblock">
            <img id="alot" src="/images/alot.png" />
        </div>
        <h1> Ingen kvar</h1>
        <button class="btn" id="backbtn">BACK</button>
    </div>
    <script type="text/javascript" src="/script/noswipe.js" />
</body>

</html>