<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>AcademyMatch</title>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
</head>
<body>
    <div class = "huvudblock"> 
        <button class="btn hamburgler" id="menubtn">-</button>
        <p id="chosen">0</p>
    <div id ="imgblock">
        <img id = "image" th:src ="${person.imgLink}"/>
    </div>
    <h1 id = "namn" th:text = "${person.name}"> NAME OCH ÅLDER</h1>
    <h2 id= "klass" th:text = "${person.klass}" >JAVAKLASSEN</h2>
    <p id = "brodtxt" th:text = "${person.presentation}"> Här är det lite kort text om personen.</p>
</div>
<button class = "btn" id="nobtn">NO</button>
<button class = "btn" id="yesbtn">YES</button>
<script type="text/javascript" src="/script/swipe.js"/>
</body>
</html>