<!DOCTYPE html>
<html>
<head>
    <title>AcademyMatch</title>
    <meta charset="utf8"/>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
<div class = "huvudblock">
    <div id ="imgblock">
        <img id = "image" src = "https://app.cinode.com/profile_images/f6/7f/f67f879d-506b-4365-aa0a-f2fe36a3acd6_200_200.jpeg"/>
    </div>
    <h1 id = "namn"> NAME OCH ÅLDER</h1>
    <h2 id= "klass" >JAVAKLASSEN</h2>
    <p id = "brodtxt">Här är det lite kort text om personen.</p>
</div>
<button class = "btn nobtn">NO</button>
<button class = "btn yesbtn">YES</button>
</body>
</html>